<body>
    <main class="contenedor">
    <nav class="navbar">
        <ul class="menu">
            <div class="links">
                <li><a href="/inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="/afiliados"><i class="fas fa-users"></i>  Afiliados</a></li>
                <li><a href="/membresias"><i class="fa-solid fa-address-card"></i>  Membresias</a></li>
                <!-- <li><a href="/rutinas"><i class="fa-solid fa-dumbbell"></i>  Rutinas</a></li> -->
                <!--<li><a href="/inventario"><i class="fa-solid fa-store"></i>  Inventario de Productos</a></li>-->
                {% if session["rol"] == 'super_admin' or session["rol"] == 'administrador' %}
                <li><a href="/operadores"><i class="fa-solid fa-user-tie"></i>  Operadores</a></li>
                {% endif %}
                {% if session["rol"] == 'super_admin' or session["rol"] == 'administrador' %}
                <li><a href="/contacto"><i class="fa-solid fa-phone"></i>  Contactanos</a></li>                
                {% endif %}
                <!-- <li><a href="#">Servicios</a></li> 
                <li><a href="#">Contacto</a></li> -->
                </div>
                <div class="salir">
                    <a class="btn_cerrar" href="/dashboard/cerrar">Cerrar Sesion</a>
                </div>
            </ul>
        
        <div class="menu-toggle" id="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="logo">
            <a href="/inicio">CONTROL GYM</a>
        </div>
    </nav>

 