<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
</head>
<body>
    <main >
        <section>
            <table>
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>telefono</th>
                        <th>correo</th>
                        <th>hubicacion</th>
                        <th>barrio</th>
                        <th>direccion</th>
                    </tr>
                </thead>
                <tbody>
                    {%for dato_gym in contacto_gym %}
                    <tr>
                        <td>{{dato_gym[1]}}</td>
                        <td>{{dato_gym[2]}}</td>
                        <td>{{dato_gym[3]}}</td>
                        <td>{{dato_gym[4]}}</td>
                        <td>{{dato_gym[5]}}</td>
                        <td>{{dato_gym[6]}}</td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
        </section>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <section >
            <!-- este es el formulario para agragar es un modal 
            <form action="/contactanos/agregar" method="post" >
            

            <label for="nombre_gym">proporcione el nombre del gimnasio</label>
            <input type="text" placeholder="Nombre" name="nombre_gym" id="nombre_gym" pattern="[A-Za-z\s]{5,50}" maxlength="50" minlength="5" tabindex="1" required >

            <label for="telefono_gym">proporcione el telefono del gimnasio</label>
            <input type="tel" placeholder="Teléfono" name="telefono_gym" id="telefono_gym" pattern="[0-9]{10}" maxlength="10" minlength="10" tabindex="2" required >

            <label for="correo_gym">proporcione el correo del gimnasio</label>
            <input type="email"  id="correo_gym" name="correo_gym" pattern="[A-Za-z-_0-9]+@[A-Za-z]\.[a-z]{11,65}" minlength="11" maxlength="65" placeholder="Correo Electronico" tabindex="3" required>

            <label for="hubicacion_gym">proporcione la hubicacion del gimnasio</label>
            <input type="text"  id="hubicacion_gym" name="hubicacion_gym" pattern="[A-Za-z\s]{10,50}" maxlength="50" minlength="10" placeholder="Hubicación" tabindex="4" required>

            <label for="barrio_gym">proporcione el barrio del gimnasio</label>
            <input type="text" placeholder="Barrio" name="barrio_gym" id="barrio_gym" pattern="[A-Za-z\s]{10,50}" maxlength="50" minlength="10" tabindex="5" required >

            <label for="direccion_gym">proporcione la dirección del gimnasio</label>
            <input type="text" placeholder="Direccion" name="direccion_gym" id="direccion_gym" pattern="[A-Za-z\s]{10,50}" maxlength="50" minlength="10" tabindex=6" required >          

            <button type="submit" tabindex="7" >guardar</button>
        </form>
        </section>
         
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
        <section>
            <!-- este es el de el update es un modal 
            <form action="/contactanos/actualizar" method="post" >
            
                <input type="text" name="id_contacto" id="id_contacto" value="{{contacto_gym[0][0]}}" hidden readonly>

                <label for="nombre_gym">nombre del gimnasio</label>
                <input type="text" value="{{contacto_gym[0][1]}}" name="nombre_gym" id="nombre_gym" pattern="[A-Za-z\s]{5,50}" maxlength="50" minlength="5" tabindex="1" required >
    
                <label for="telefono_gym">telefono del gimnasio</label>
                <input type="tel" value="{{contacto_gym[0][2]}}" name="telefono_gym" id="telefono_gym" pattern="[0-9]{10}" maxlength="10" minlength="10" tabindex="2" required >
    
                <label for="correo_gym">correo del gimnasio</label>
                <input type="email" value="{{contacto_gym[0][3]}}" id="correo_gym" name="correo_gym" pattern="[A-Za-z-_0-9]+@[A-Za-z]\.[a-z]{11,65}" minlength="11" maxlength="65"  tabindex="3" required>
                
                <label for="direccion_gym">dirección del gimnasio</label>
                <input type="text" value="{{contacto_gym[0][6]}}" name="direccion_gym" id="direccion_gym" pattern="[A-Za-z\s]{10,50}" maxlength="50" minlength="10" tabindex=6" required >          
    
                <label for="hubicacion_gym">hubicacion del gimnasio</label>
                <input type="text" value="{{contacto_gym[0][4]}}" id="hubicacion_gym" name="hubicacion_gym" pattern="[A-Za-z\s-#]{10,50}" maxlength="50" minlength="10"  tabindex="4" required>
    
                <label for="barrio_gym">
                    barrio del gimnasio</label>
                <input type="text" value="{{contacto_gym[0][5]}}" name="barrio_gym" id="barrio_gym" pattern="[A-Za-z\s]{10,50}" maxlength="50" minlength="10" tabindex="5" required >
    
                
                <button type="submit" tabindex="7" >actualizar</button>
            </form>
        </section>
    </main>
    

</body>

</html> -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/operadores.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/contactanos.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Control Gym</title>
</head>

{% include 'dashboard/cabecera.html' %}


<a class="boton_agregar" href="#">agregar contacto</a>
<!-- <a class="boton_actualizar" href="#">actualizar contacto</a> -->
    <main id="contenedorpadretotal" >
    
        <div class="contenedor_tabla">
            <table>
                <thead>
                    <tr> 
                        <th>Nombre</th>
                        <th>telefono</th>
                        <th>correo</th>
                        <th>ubicacion</th>
                        <th>barrio</th>
                        <th>dirección</th>
                        <th>mas info</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for dato_gym in contacto_gym %}
                    <tr>
                        <td>{{dato_gym[1]}}</td>
                        <td>{{dato_gym[2]}}</td>
                        <td>{{dato_gym[3]}}</td>
                        <td>{{dato_gym[4]}}</td>
                        <td>{{dato_gym[5]}}</td>
                        <td>{{dato_gym[6]}}</td>
                        <td><a href="/contactanos/actualizar" class="boton_actualizar"><li class="fa-solid fa-pen-to-square" style="color: #FFD100;"></li></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            


        <section class="modal_agregar ">
            <div class="contenedor">
                <a href="#" class="modal_close"><i class="fa-solid fa-xmark fa-xl"></i></a>
                <form action="/contactanos/agregar" method="post" class="form-grid">
                    <h2 class="titulo">AGREGAR UN CONTACTO</h2>
                    <label for="nombre_gym" class="nombre_gym">nombre:</label>
                    <input type="text" placeholder="Nombre" name="nombre_gym" class="nombre" required >

                    <label for="telefono_gym" class="telefono_gym">telefono:</label>
                    <input type="tel" placeholder="Teléfono" name="telefono_gym" class="telefono" required >

                    
                    <label for="correo_gym" class="correo_gym">correo:</label>
                    <input type="email"  class="correo" name="correo_gym" placeholder="Correo Electronico"  required>
        
                    <label for="hubicacion_gym" class="hubicacion_gym">ubicacion:</label>
                    <input type="text"  class="ubicacion" name="hubicacion_gym" placeholder="ubicacion"  required>
        
                    <label for="barrio_gym" class="barrio_gym">barrio:</label>
                    <input type="text" placeholder="Barrio" name="barrio_gym" class="barrio" required >

                    <label for="direccion_gym" class="direccion_gym">direccion:</label>
                    <input type="text" placeholder="Direccion" name="direccion_gym" class="direccion"   required >


        
                    <button type="submit" tabindex="7" class="boton__">GUARDAR CAMBIOS</button>
                    </form>
            </div>
            </section>

            <!-- este es el formulario para agragar es un modal -->

            <section class="modal_actualizar">
                <div class="contenedor">
                    <a href="#" class="cerrar_modal"><i class="fa-solid fa-xmark fa-xl"></i></a>
                    <form action="/contactanos/actualizar" method="post" >
                        <h2 class="titulo">ACTUALIZAR CONTACTO</h2>
                        <input type="text"  name="id_contacto" id="id_actualizar" value="{{contacto_gym[0][0]}}"  hidden readonly>
        
                        <label for="nombre_gym" class="nombre_gym">nombre:</label>
                        <input type="text" value="{{contacto_gym[0][1]}}" name="nombre_gym" class="nombre"   required >
            
                        <label for="telefono_gym" class="telefono_gym">telefono:</label>
                        <input type="tel" value="{{contacto_gym[0][2]}}" name="telefono_gym" class="telefono"  required >
            
                        <label for="correo_gym" class="correo_gym">correo:</label>
                        <input type="email" value="{{contacto_gym[0][3]}}" id="correo_gym" class="correo"  name="correo_gym"  required>
                        
                        <label for="direccion_gym" class="direccion_gym">dirección:</label>
                        <input type="text" value="{{contacto_gym[0][6]}}" name="direccion_gym" class="direccion"  required >          
            
                        <label for="barrio_gym" class="barrio_gym">barrio:</label>
                        <input type="text" value="{{contacto_gym[0][5]}}" name="barrio_gym" class="barrio"   required >
            
                        <label for="hubicacion_gym" class="hubicacion_gym">ubicacion:</label>
                        <input type="text" value="{{contacto_gym[0][4]}}" class="ubicacion" name="ubicacion_gym"  required>
            
                        
                        <button type="submit" tabindex="7" class="boton__">ACTUALIZAR CAMBIOS</button>
                    </form>
                </div>
                </section>
    
        </section> 
    </main>
    <script>
        const openModal = document.querySelector('.boton_agregar');
        const modal = document.querySelector('.modal_agregar ');
        const modalClose = document.querySelector('.modal_close');

        openModal.addEventListener('click', (e)=>{
            console.log('hola mundo');
            e.preventDefault();
            modal.classList.add('modal--show');
        });

        modalClose.addEventListener('click', (e)=>{
            e.preventDefault();
            modal.classList.remove('modal--show');
        });

        const btn_actualizar = document.querySelector('.boton_actualizar');
        const modal_actualizar = document.querySelector('.modal_actualizar');
        const modal_cerrar = document.querySelector('.cerrar_modal');

        btn_actualizar.addEventListener('click', (e)=>{
            e.preventDefault();
            modal_actualizar.classList.add('mostrar_modal');
        });

        modal_cerrar.addEventListener('click', (e)=>{
            e.preventDefault();
            modal_actualizar.classList.remove('mostrar_modal');
        });

        

    </script>
{% include 'dashboard/pie.html' %}