<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/operadores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Control Gym</title>
    <style>
        .container {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
        .grafico {
            margin-top: 40px;
            background-color: #fff;
            border-radius: 8px;
            padding: 0 10px 20px 10px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        }
    </style>
</head>

{% include 'dashboard/cabecera.html' %}

<div class="container">
    <div class="grafico" style="width: 400px;">
        <h3 style="text-align: center;">Estadísticas de Afiliados Activos y Inactivos Actualmente</h3>
        <canvas id="myChart"></canvas>
    </div>
</div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Renovadas', 'No renovadas'],
                datasets: [{
                    label: 'Renovación de Membresías',
                    data: {{ data | tojson }},
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    }
                }
            }
        });
    </script>


{% include 'dashboard/pie.html' %}