<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/operadores.css') }}">
    <title>Rutinas | Gym control</title>
</head>

{% include 'dashboard/cabecera.html' %}

    <!-- Form #1 -->
    <section id="formulario_1">
        <div id="titulo_1">
            <h3>Agregar ejercicios</h3>
        </div>
        <form id="estilo_formulario_1" action="/rutinas/agregar" method="post" enctype="multipart/form-data">
            <input class="estilos_inputs" type="text" name="nombre" placeholder="Nombre" pattern="[A-Za-z0-9\s]{1,50}" minlength="1" min="1" maxlength="50" max="50" required>
            <input class="estilos_inputs" type="number" name="repeticiones" placeholder="repeticiones" pattern="[0-9]{1,2}" minlength="1" maxlength="2"  required>
            <input class="estilos_inputs" type="number" name="series" placeholder="series" pattern="[0-9]{1,2}" minlength="1"  maxlength="2"  required>
            <select class="lista_seleccion" name="tipo" required>
                {% for resul in resulTipos %}
                <option value="{{resul[0]}}">{{resul[1]}}</option>
                {% endfor %}
            </select>
            <input id="foto" required type="file" name="Foto">
            <button id="boton_formulario_1" type="submit">Agregar</button>
        </form>
    </section>

    <!-- Form #2 -->
    <section id="contenido_formulario_2">
        <div class="titulo_2">
            <h3>Tipos de entrenamientos</h3>
        </div>
        <form id="estilo_formulario_2" action="/rutinas/agregar/tipos" method="post">
            <input class="estilos_inputs" type="text" name="NombreTipo" placeholder="Tipo de ejercicio" pattern="[A-Za-z]{1,50}" minlength="1" min="1" maxlength="50" max="50" required>
            <button id="boton_formulario_2" type="submit">Agregar</button>
        </form>
    </section>

    <!-- Form #3 -->
    <section id="contenido_formulario_3">
        <div id="titulo_3">
            <h3>Rutina cliente</h3>
        </div>
        <form id="estilo_formulario_3" action="/Rutina/cliente" method="post">
            <label class="subtitulo" for="">Rutina: </label>
            <select class="lista_seleccion_form3" name="rutina" required>
                {% for resul in resulRutinas %}
                <option value="{{resul[0]}}">{{resul[0]}}</option>
                {% endfor %}
            </select>
            <label class="subtitulo" for="">Cliente: </label>
            <select class="lista_seleccion_form3" name="cliente" required>
                {% for resul in resulClientes %}
                <option value="{{resul[0]}}">{{resul[0]}}</option>
                {% endfor %}
            </select>
            <label class="subtitulo" for="">Dia: </label>
            <select class="lista_seleccion_form3" name="tipo" required>
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miercoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sabado</option>
            </select>
            <button id="boton_formulario_3" type="submit" id="siguiente">Agregar</button>
        </form>
    </section>

    <!-- Form 4 -->
    <section id="contenido_formulario_4">
        <div class="titulo_2">
            <h3>Creador rutina</h3>
        </div>
        <form class="estilo_formulari" action="/rutinas/creador_rutina" method="post">
            <label for="">Duracion: </label>
            <input class="estilos_inputs" type="date" name="fecha" required>
            <label for="">Descripcion: </label>
            <input class="estilos_inputs" type="text" part="[A-Za-z]{10,100}" name="descripcion" minlength="10" min="10" max="100" maxlength="100" required>
            <button class="estilos_boton" type="submit">Agregar</button>
        </form>
    </section>

<script src="{{ url_for('static', filename='js/rutinas.js') }}"></script>

{% include 'dashboard/pie.html' %}
